# Ignore everything
*
RNAnneal_LiLab_2026-03-27/**/*
rna_data/**/*
# Allow directories to be scanned
!*/
# Allow tracking the folder structure inside pdb_files
!pdb_files/
!pdb_files/**/
!**/.[gG][iI][tT][kKeEpP]*

# Recursively allow all Python files
!**/*.py
!RNAnneal_LiLab_2026-03-27/**/*
!RNAnneal_LiLab_2026-03-27/**/*.py
!rna_data/**/*
!rna_data/**/*.py

# Allow specific configuration files
!.gitignore
!README.md
